<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p style="margin-left:1112px;">
<button type="button" class="btn mb-2 mb-md-0 btn-info btn-round" onclick="myFunction()"><span class="glyphicon glyphicon-plus"></span>Add Article</button>
</p><br>

<div id="myDIV">
  <script>
  document.getElementById("myDIV").style.display = "none";
</script>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Add Article</h6>
            <br>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <form class="row g-3" method="POST">
              {% csrf_token %}
              <div class="row" style="margin-left:10px;">
                <div class="col-md-6" >
                  <label for="title" class="form-label">Title</label>
                  {{article_form.title}}
                </div>
                <div class="col-md-6">
                  <label for="url" class="form-label">Url</label>
                  {{article_form.url}}
                </div>
                <div class="col-md-6">
                  <label for="content" class="form-label">Content</label>
                  {{article_form.content}}
                </div>
                <div class="col-md-6">
                  <label for="summary" class="form-label">Summary</label>
                  {{article_form.summary}}
                </div>
              </div>
              <div class="col-12" style="margin-left:25px;">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<script>
  function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
     }
</script>